/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #b4e2489f;
  width: 50%;
  border-radius: 10px;
  height: 50vh;
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
form input {
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 20px;
  border-style: none;
  padding: 5px;
  outline: none;
}
form input {
  padding: 15px;
}

form button {
  padding: 10px;
  border: none;
  background-color: #1e2b029f;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}

#pokemonimg {
  display: block;
  width: 50%;
  padding: 10px;
  border-radius: 15px;
  display: none;
} */
/* #box {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  font-size: 4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
body {
  height: 100vh;
  width: 100%;
  position: relative;
} */
/* 
form {
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}
input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  resize: vertical;
  height: 150px;
}
.error {
  color: red;
  font-size: 0.9em;
  margin: -10px 0 10px;
} */

/* add quote app */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
form {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
form #author-text {
  width: 20%;
  height: 2em;
  border-radius: 5px;
  padding: 5px;
}
form #quote-text {
  width: 50%;
  height: 2em;
  border-radius: 5px;
  padding: 5px;
}
form button {
  padding: 10px 20px;
  border-radius: 5px;
}

.para {
  width: 80%;
  font-size: 3rem;
  text-align: center;
  margin: 10px auto;
}
p {
  display: inline-block;
}
#list-container {
  width: 80%;
  text-align: center;
}
